<h1>The Merb Session Tester</h1>
<p><%= link_to "Put 1 in session", url(:controller => :session_tests, :action => :add, :id => 1) %></p>
<p><%= link_to "Debug session", url(:controller => :session_tests, :action => :debug) %></p>
